<br><br>
<script src="https://code.jquery.com/jquery-3.1.1.min.js"></script>
<script src="https://code.highcharts.com/highcharts.js"></script>
<script src="https://code.highcharts.com/modules/exporting.js"></script>

<div id="status_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>
<div id="service_chart" style="min-width: 310px; height: 400px; max-width: 1000px; margin: 0 auto"></div>
<div id="theme_chart" style="min-width: 310px; height: 400px; max-width: 600px; margin: 0 auto"></div>


<br><br><br>
<center><h5>Clique na legenda para remover o pedaço do gráfico pizza.</h5></center>

<script>
// Build the charts
$(function() {
  $('#status_chart').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Todas as solicitações classificas pelo seu status'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.5f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'EM ANDAMENTO',
            y: <%= (100.0*@solicitations.where(solicitation_status: "EM ANDAMENTO").count) / @solicitations.count %>,
        }, {
            name: 'ABERTA',
            y: <%= (100.0*@solicitations.where(solicitation_status: "ABERTA").count) / @solicitations.count %>,
        }, {
            name: 'FINALIZADO',
            y: <%= (100.0*@solicitations.where(solicitation_status: "FINALIZADO").count) / @solicitations.count %>,
            sliced: true,
            selected: true
        }, {
            name: 'CANCELADA',
            y: <%= (100.0*@solicitations.where(solicitation_status: "CANCELADA").count) / @solicitations.count %>
        }, {
            name: 'RELACIONADA',
            y: <%= (100.0*@solicitations.where(solicitation_status: "RELACIONADA").count) / @solicitations.count %>
        }]
    }]
  });
  $('#service_chart').highcharts({
    chart: {
        plotBackgroundColor: null,
        plotBorderWidth: null,
        plotShadow: false,
        type: 'pie'
    },
    title: {
        text: 'Todas as solicitações classificas pelo seu tipo serviço'
    },
    tooltip: {
        pointFormat: '{series.name}: <b>{point.percentage:.5f}%</b>'
    },
    plotOptions: {
        pie: {
            allowPointSelect: true,
            cursor: 'pointer',
            dataLabels: {
                enabled: false
            },
            showInLegend: true
        }
    },
    series: [{
        name: 'Brands',
        colorByPoint: true,
        data: [{
            name: 'Tapa-buraco',
            y: <%= (100.0*@solicitations.where(service: "Tapa-buraco").count) / @solicitations.count %>,
        }, {
            name: 'Avaliação da circulação e acesso de veículos',
            y: <%= (100.0*@solicitations.where(service: "Avaliação da circulação e acesso de veículos").count) / @solicitations.count %>,
        }, {
            name: 'Avaliação e serviços em árvore em área pública',
            y: <%= (100.0*@solicitations.where(service: "Avaliação e serviços em árvore em área pública").count) / @solicitations.count %>,
        }, {
            name: 'Capinação e roçada',
            y: <%= (100.0*@solicitations.where(service: "Capinação e roçada").count) / @solicitations.count %>
        }, {
            name: 'Construção ou reforma de guias, sarjetas e sarjetões',
            y: <%= (100.0*@solicitations.where(service: "Construção ou reforma de guias, sarjetas e sarjetões").count) / @solicitations.count %>
        }, {
            name: 'Denúncia de problemas no embarque/desembarque',
            y: <%= (100.0*@solicitations.where(service: "Denúncia de problemas no embarque/desembarque").count) / @solicitations.count %>,
        }, {
            name: 'Limpeza de bueiros, boca de lobo e poços de visita',
            y: <%= (100.0*@solicitations.where(service: "Limpeza de bueiros, boca de lobo e poços de visita").count) / @solicitations.count %>,
        }, {
            name: 'Manutenção de sinalização horizontal (pintura de solo)',
            y: <%= (100.0*@solicitations.where(service: "Manutenção de sinalização horizontal (pintura de solo)").count) / @solicitations.count %>
        }, {
            name: 'Obstáculo dificultando acessibilidade',
            y: <%= (100.0*@solicitations.where(service: "Obstáculo dificultando acessibilidade").count) / @solicitations.count %>
        }, {
            name: 'Reclamação de afundamento da pavimentação em vias públicas',
            y: <%= (100.0*@solicitations.where(service: "Reclamação de afundamento da pavimentação em vias públicas").count) / @solicitations.count %>,
        }, {
            name: 'Reclamação de falta de varrição',
            y: <%= (100.0*@solicitations.where(service: "Reclamação de falta de varrição").count) / @solicitations.count %>
        }, {
            name: 'Reclamação de intervalo excessivo da linha',
            y: <%= (100.0*@solicitations.where(service: "Reclamação de intervalo excessivo da linha").count) / @solicitations.count %>
        }, {
            name: 'Reforma de bueiros, boca de lobo e poços de visita',
            y: <%= (100.0*@solicitations.where(service: "Reforma de bueiros, boca de lobo e poços de visita").count) / @solicitations.count %>,
        }, {
            name: 'Remoção de animal morto em via pública',
            y: <%= (100.0*@solicitations.where(service: "Remoção de animal morto em via pública").count) / @solicitations.count %>,
        }, {
            name: 'Remoção de entulho em via pública',
            y: <%= (100.0*@solicitations.where(service: "Remoção de entulho em via pública").count) / @solicitations.count %>
        }, {
            name: 'Remoção de grandes objetos em vias públicas',
            y: <%= (100.0*@solicitations.where(service: "Remoção de grandes objetos em vias públicas").count) / @solicitations.count %>
        }]
    }]
  });
});
</script>
