<!DOCTYPE html>
<html>
  <head>
    <title>156 Transparente</title>
    <%= csrf_meta_tags %>
    <%= stylesheet_link_tag    'application', media: 'all' %>
    <%= javascript_include_tag 'application' %>
  </head>

  <body>
    <nav class="white" role="navigation">
      <div class="nav-wrapper container">
        <%= link_to controller: "solicitations", action: "home"  do %>
          <%= image_tag("logo.jpg", :alt => "logo", size: "170x50", style: "margin-top: 7px") %>
        <% end %>
        <ul class="right hide-on-med-and-down">
        </ul>

        <ul id="nav-mobile" class="side-nav">
          <!-- <li><a href="#">Navbar Link</a></li> -->
        </ul>
        <a href="#" data-activates="nav-mobile" class="button-collapse"><i class="material-icons">menu</i></a>
      </div>
    </nav>
    <div style='background-color: #EEEEEE'>
      <%= yield %>
    </div>  </body>
</html>
